
<div class="row" style="text-align:center; margin-bottom:20px; padding-top:10px;">
    <div class="st-col col-12">
        <h1>Bayesian Inference of Differential Equations with Turing</h1>
        <p style="font-size:16px; color:gray;">
            This dashboard performs parameter estimation for the SI (Susceptible-Infected) model using the <strong>Turing.jl</strong> package in a Bayesian framework. The estimation is done using simulated data.
        </p>
        <h2>SI Model is described as follow </h2>
        <div v-katex:display="' \\frac{dS}{dt}(t) = - \\beta S(t) I(t) + \\gamma I(t) '" style="font-size:20px;"></div>
        <div v-katex:display="' \\frac{dI}{dt}(t) = \\beta S(t) I(t) - \\gamma I(t) '" style="font-size:20px;"></div>
        <p style="font-size:16px; color:gray;">
            Where: <span v-katex="{&quot;expression&quot;:&quot;S(t)&quot;}"></span> and <span v-katex="{&quot;expression&quot;:&quot;I(t)&quot;}"></span> are respectively the number of susceptible infected individuals at time <span v-katex="{&quot;expression&quot;:&quot;t&quot;}"></span>, <span v-katex="{&quot;expression&quot;:&quot;\\beta&quot;}"></span> and <span v-katex="{&quot;expression&quot;:&quot;\\gamma&quot;}"></span> respectively the transmission and recovery rate.</p>
    </div>
</div>

<div class="container">
    <h1>SI Model Simulation</h1>
    <div class = row>
        <div class="st-col col-12 col-sm st-module">
            <p>Adjust the parameters below to simulate the SI model:</p>
            <label>Infection Rate (β): </label>
            <input type="range" min="0.1" max="1.0" step="0.01" v-model="beta">
            <span>{{ beta }}</span>

            <label>Recovery Rate (γ): </label>
            <input type="range" min="0.01" max="1.0" step="0.01" v-model="gamma">
            <span>{{ gamma }}</span>
            <div>
                <h2>Simulation Results</h2>
                <plotly :data="solplot" :layout="solplot_layout" ></plotly>
            </div>
          </div>
          <div class="st-col col-12 col-sm st-module">
            <p>Adjust the noise noise level to generate simulated data for the parameter estimation:</p>
            <div>
                <label>Noise level (σ): </label>
                <input type="range" min="0.1" max=".9" step="0.1" v-model="noise_level">
                <span>{{ noise_level }}</span>
            </div>
            <div>
                <plotly :data="data_plot" :layout="data_plot_layout" ></plotly>
            </div>
          </div>
    </div>
</div>

<div class="container">
    <h1 >Parameter estimation </h1>
    <div class="row">
        <h2> Summary Statistics</h2>
        
    </div>
    <div class = row>
        
        <div class="st-col col-12 col-sm st-module">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="text-align: center;">Parameters</th>
                        <th style="text-align: center;">True</th>
                        <th style="text-align: center;">Mean</th>
                        <th style="text-align: center;">Std</th>
                        <!-- <th style="text-align: center;">mcse</th>
                        <th style="text-align: center;">ess_bulk</th>
                        <th style="text-align: center;">ess_tail</th> -->
                        <!-- <th style="text-align: center;"> rhat</th> -->

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;">beta</td>
                        <td style="text-align: center;">0.52</td>
                        <td style="text-align: center;">{{ beta_mean }}</td>
                        <td style="text-align: center;">{{ beta_std }}</td>
                        <!-- <td style="text-align: center;">{{ beta_mcse }}</td>
                        <td style="text-align: center;">{{ beta_ess_bulk }}</td>
                        <td style="text-align: center;">{{beta_ess_tail}}</td>  -->
                        <!-- <td style="text-align: center;">{{beta_rath}}</td>-->

                    </tr>
                    <tr>
                        <td style="text-align: center;">gamma</td>
                        <td style="text-align: center;">{{ 0.24 }}</td>
                        <td style="text-align: center;">{{ gamma_mean }}</td>
                        <td style="text-align: center;">{{ gamma_std }}</td>
                        <!-- <td style="text-align: center;">{{ gamma_mcse }}</td>
                        <td style="text-align: center;">{{gamma_ess_bulk}}</td>
                        <td style="text-align: center;">{{gamma_ess_tail}}</td>  -->
                         <!-- <td style="text-align: center;">{{gamma_rhat}}</td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        
</div>
<div class="container">
    <div class="row">
        <h2>Chain Plot</h2>
    </div>
    <div class="row">
        <div class="st-col col-12 col-sm st-module">
            
            <plotly :data="chain_plot" :layout="chain_plot_layout" ></plotly>
        </div>
    </div>
</div>
<div class="container">
      <h2>Posterior distribution of the parameters </h2>
    <div class = row>
        <div class="st-col col-12 col-sm st-module">
            <plotly :data="bayesian_plot_beta" :layout="bayesian_plot_layout_beta" ></plotly>
        </div>
        <div class="st-col col-12 col-sm st-module">
            <plotly :data="bayesian_plot_gamma" :layout="bayesian_plot_layout_gamma" ></plotly>
        </div>
    </div>
</div>

<div class="footer" style="text-align:center; margin-top:20px; padding:10px; background-color:#f9f9f9; font-size:14px; color:gray;">
    <p>Created by <strong>Ousmane Junior</strong></p>
</div> 
